#root {
  text-align: center;
  background-image: url('./images/africa-bkg.jpg');
  color: white;
  margin: auto;
}

.navbar-brand {
  margin: 0 auto;
}

.nav-item {
  margin: 0 auto;
}


span.navbar-brand {
  margin: 0 auto;
}

.about {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin:auto;
  color:black;
  font-weight:bold;
}

.about img {
  margin: auto;
}
